trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseNode@2
  inputs:
    version: '16.x'

- script: |
    npm install
    npm run build || echo "No build step, skipping"
  displayName: 'Instalar dependencias y construir app'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'

- task: AzureWebApp@1
  inputs:
    azureSubscription: 'VisualStudioEnterpriseMCT'
    appType: 'webApp'
    appName: 'app-demo-01-fxevbmcdc2gyhre8'
    package: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
